<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.PlayerMapper">
  <resultMap id="BaseResultMap" type="com.example.model.Player">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userId" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="CHAR" property="username" />
    <result column="serverId" jdbcType="INTEGER" property="serverId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="platform" jdbcType="CHAR" property="platform" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="loginDate" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="logoutDate" jdbcType="TIMESTAMP" property="logoutDate" />
    <result column="loginDateByDay" jdbcType="TIMESTAMP" property="loginDateByDay" />
    <result column="loginDays" jdbcType="INTEGER" property="loginDays" />
    <result column="multiLoginDays" jdbcType="INTEGER" property="multiLoginDays" />
    <result column="onlineTimeToday" jdbcType="BIGINT" property="onlineTimeToday" />
    <result column="onlineTimeTotal" jdbcType="BIGINT" property="onlineTimeTotal" />
    <result column="lv" jdbcType="INTEGER" property="lv" />
    <result column="exp" jdbcType="BIGINT" property="exp" />
    <result column="totalExp" jdbcType="BIGINT" property="totalExp" />
    <result column="vip" jdbcType="INTEGER" property="vip" />
    <result column="gold" jdbcType="BIGINT" property="gold" />
    <result column="consumeGold" jdbcType="BIGINT" property="consumeGold" />
    <result column="totalGold" jdbcType="BIGINT" property="totalGold" />
    <result column="totalPayGold" jdbcType="BIGINT" property="totalPayGold" />
    <result column="totalPayGiftGold" jdbcType="BIGINT" property="totalPayGiftGold" />
    <result column="ip" jdbcType="CHAR" property="ip" />
    <result column="icon" jdbcType="BIGINT" property="icon" />
    <result column="coin" jdbcType="BIGINT" property="coin" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, username, serverId, name, platform, createDate, loginDate, logoutDate, 
    loginDateByDay, loginDays, multiLoginDays, onlineTimeToday, onlineTimeTotal, lv, 
    exp, totalExp, vip, gold, consumeGold, totalGold, totalPayGold, totalPayGiftGold, 
    ip, icon, coin
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from player
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from player
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.model.Player">
    insert into player (id, userId, username, 
      serverId, name, platform, 
      createDate, loginDate, logoutDate, 
      loginDateByDay, loginDays, multiLoginDays, 
      onlineTimeToday, onlineTimeTotal, lv, 
      exp, totalExp, vip, gold, 
      consumeGold, totalGold, totalPayGold, 
      totalPayGiftGold, ip, icon, 
      coin)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{username,jdbcType=CHAR}, 
      #{serverId,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{platform,jdbcType=CHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{loginDate,jdbcType=TIMESTAMP}, #{logoutDate,jdbcType=TIMESTAMP}, 
      #{loginDateByDay,jdbcType=TIMESTAMP}, #{loginDays,jdbcType=INTEGER}, #{multiLoginDays,jdbcType=INTEGER}, 
      #{onlineTimeToday,jdbcType=BIGINT}, #{onlineTimeTotal,jdbcType=BIGINT}, #{lv,jdbcType=INTEGER}, 
      #{exp,jdbcType=BIGINT}, #{totalExp,jdbcType=BIGINT}, #{vip,jdbcType=INTEGER}, #{gold,jdbcType=BIGINT}, 
      #{consumeGold,jdbcType=BIGINT}, #{totalGold,jdbcType=BIGINT}, #{totalPayGold,jdbcType=BIGINT}, 
      #{totalPayGiftGold,jdbcType=BIGINT}, #{ip,jdbcType=CHAR}, #{icon,jdbcType=BIGINT}, 
      #{coin,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.Player">
    insert into player
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="serverId != null">
        serverId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="loginDate != null">
        loginDate,
      </if>
      <if test="logoutDate != null">
        logoutDate,
      </if>
      <if test="loginDateByDay != null">
        loginDateByDay,
      </if>
      <if test="loginDays != null">
        loginDays,
      </if>
      <if test="multiLoginDays != null">
        multiLoginDays,
      </if>
      <if test="onlineTimeToday != null">
        onlineTimeToday,
      </if>
      <if test="onlineTimeTotal != null">
        onlineTimeTotal,
      </if>
      <if test="lv != null">
        lv,
      </if>
      <if test="exp != null">
        exp,
      </if>
      <if test="totalExp != null">
        totalExp,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="gold != null">
        gold,
      </if>
      <if test="consumeGold != null">
        consumeGold,
      </if>
      <if test="totalGold != null">
        totalGold,
      </if>
      <if test="totalPayGold != null">
        totalPayGold,
      </if>
      <if test="totalPayGiftGold != null">
        totalPayGiftGold,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="coin != null">
        coin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=CHAR},
      </if>
      <if test="serverId != null">
        #{serverId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginDate != null">
        #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutDate != null">
        #{logoutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginDateByDay != null">
        #{loginDateByDay,jdbcType=TIMESTAMP},
      </if>
      <if test="loginDays != null">
        #{loginDays,jdbcType=INTEGER},
      </if>
      <if test="multiLoginDays != null">
        #{multiLoginDays,jdbcType=INTEGER},
      </if>
      <if test="onlineTimeToday != null">
        #{onlineTimeToday,jdbcType=BIGINT},
      </if>
      <if test="onlineTimeTotal != null">
        #{onlineTimeTotal,jdbcType=BIGINT},
      </if>
      <if test="lv != null">
        #{lv,jdbcType=INTEGER},
      </if>
      <if test="exp != null">
        #{exp,jdbcType=BIGINT},
      </if>
      <if test="totalExp != null">
        #{totalExp,jdbcType=BIGINT},
      </if>
      <if test="vip != null">
        #{vip,jdbcType=INTEGER},
      </if>
      <if test="gold != null">
        #{gold,jdbcType=BIGINT},
      </if>
      <if test="consumeGold != null">
        #{consumeGold,jdbcType=BIGINT},
      </if>
      <if test="totalGold != null">
        #{totalGold,jdbcType=BIGINT},
      </if>
      <if test="totalPayGold != null">
        #{totalPayGold,jdbcType=BIGINT},
      </if>
      <if test="totalPayGiftGold != null">
        #{totalPayGiftGold,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=CHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=BIGINT},
      </if>
      <if test="coin != null">
        #{coin,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.Player">
    update player
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=CHAR},
      </if>
      <if test="serverId != null">
        serverId = #{serverId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginDate != null">
        loginDate = #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutDate != null">
        logoutDate = #{logoutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginDateByDay != null">
        loginDateByDay = #{loginDateByDay,jdbcType=TIMESTAMP},
      </if>
      <if test="loginDays != null">
        loginDays = #{loginDays,jdbcType=INTEGER},
      </if>
      <if test="multiLoginDays != null">
        multiLoginDays = #{multiLoginDays,jdbcType=INTEGER},
      </if>
      <if test="onlineTimeToday != null">
        onlineTimeToday = #{onlineTimeToday,jdbcType=BIGINT},
      </if>
      <if test="onlineTimeTotal != null">
        onlineTimeTotal = #{onlineTimeTotal,jdbcType=BIGINT},
      </if>
      <if test="lv != null">
        lv = #{lv,jdbcType=INTEGER},
      </if>
      <if test="exp != null">
        exp = #{exp,jdbcType=BIGINT},
      </if>
      <if test="totalExp != null">
        totalExp = #{totalExp,jdbcType=BIGINT},
      </if>
      <if test="vip != null">
        vip = #{vip,jdbcType=INTEGER},
      </if>
      <if test="gold != null">
        gold = #{gold,jdbcType=BIGINT},
      </if>
      <if test="consumeGold != null">
        consumeGold = #{consumeGold,jdbcType=BIGINT},
      </if>
      <if test="totalGold != null">
        totalGold = #{totalGold,jdbcType=BIGINT},
      </if>
      <if test="totalPayGold != null">
        totalPayGold = #{totalPayGold,jdbcType=BIGINT},
      </if>
      <if test="totalPayGiftGold != null">
        totalPayGiftGold = #{totalPayGiftGold,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=CHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=BIGINT},
      </if>
      <if test="coin != null">
        coin = #{coin,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.Player">
    update player
    set userId = #{userId,jdbcType=BIGINT},
      username = #{username,jdbcType=CHAR},
      serverId = #{serverId,jdbcType=INTEGER},
      name = #{name,jdbcType=CHAR},
      platform = #{platform,jdbcType=CHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      loginDate = #{loginDate,jdbcType=TIMESTAMP},
      logoutDate = #{logoutDate,jdbcType=TIMESTAMP},
      loginDateByDay = #{loginDateByDay,jdbcType=TIMESTAMP},
      loginDays = #{loginDays,jdbcType=INTEGER},
      multiLoginDays = #{multiLoginDays,jdbcType=INTEGER},
      onlineTimeToday = #{onlineTimeToday,jdbcType=BIGINT},
      onlineTimeTotal = #{onlineTimeTotal,jdbcType=BIGINT},
      lv = #{lv,jdbcType=INTEGER},
      exp = #{exp,jdbcType=BIGINT},
      totalExp = #{totalExp,jdbcType=BIGINT},
      vip = #{vip,jdbcType=INTEGER},
      gold = #{gold,jdbcType=BIGINT},
      consumeGold = #{consumeGold,jdbcType=BIGINT},
      totalGold = #{totalGold,jdbcType=BIGINT},
      totalPayGold = #{totalPayGold,jdbcType=BIGINT},
      totalPayGiftGold = #{totalPayGiftGold,jdbcType=BIGINT},
      ip = #{ip,jdbcType=CHAR},
      icon = #{icon,jdbcType=BIGINT},
      coin = #{coin,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>